      <section id="fifthSection">
        <div class="container">
          <h5 class="fifthSection-title" data-i18n="projects">Projects</h5>
          <div class="Projects">
            <div class="firstProject">
              <a
                class="imgLink-fifthSection valekLink"
                href="https://github.com/DBodies/Valentyn"
                target="_blank"
                ><img
                  src="./img/Valentyn@1x.png"
                  alt="valentynSite"
                  srcset="./img/Valentyn@2x.png"
                  height="712"
              /></a>
              <div class="wrapperForText-fifthSection">
                <p class="siteTitle" data-i18n="titleFirstProject"></p>
                <p class="siteDscr" data-i18n="dscrFirstProject"></p>
                <p class="siteDscr" data-i18n="secondDscrFirstProject"></p>
              </div>
            </div>
            <div class="firstProject reverse">
              <a
                class="imgLink-fifthSection linkReverse"
                href="https://github.com/DBodies/project-Group-03"
                target="_blank"
                ><img
                  class="imgReverse"
                  src="./img/organic@1x.png"
                  alt="organic-vegetables"
                  srcset="./img/organic@2x.png"
              /></a>
              <div class="wrapperForText-fifthSection">
                <p class="siteTitle" data-i18n="greenHarvest"></p>
                <p
                  class="siteDscr secondProject"
                  data-i18n="secondProjectDscr"
                ></p>
                <p
                  class="siteDscr secondProject"
                  data-i18n="secondDscrSecondProject"
                ></p>
              </div>
            </div>
            <div class="firstProject">
              <a
                class="imgLink-fifthSection mustageLink"
                href="https://github.com/DBodies/Mustage"
                target="_blank"
                ><img
                  src="./img/mustage@1x.png"
                  alt="mustage"
                  srcset="./img/mustage@2x.png"
              /></a>
              <div class="wrapperForText-fifthSection">
                <p class="siteTitle" data-i18n="mustage"></p>
                <p class="siteDscr" data-i18n="firstDscrThirdProject"></p>
                <p class="siteDscr"></p>
              </div>
            </div>
          </div>
        </div>
      </section>