      <section id="firstSection">
        <div class="container firstSection-wrapper">
          <div class="wrapperForText">
            <h1 class="myName" data-i18n="myName" id="myName">Hi, i'm Denis</h1>
            <div class="wrapperForBtn">
              <a href="#sixthSection"
                ><button
                  class="btnWriteMe"
                  type="button"
                  data-i18n="writeMe"
                  id="writeMe"
                >
                  Write me
                </button></a
              >
              <a
                href="#secondSection"
                class="readMoreLink"
                data-i18n="readMore"
                id="readMore"
                >Read more ></a
              >
            </div>
          </div>
          <img class="firstBodyPNG" src="./img/firstBody.png" alt="body" />
        </div>
      </section>