 <footer id="footer">
      <div class="container">
        <div class="footerWrapper">
          <a class="headerLink" href="/index.html">
            <svg
              width="210"
              height="150"
              viewBox="0 0 213 160"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M109.626 12H184.479V63.7297H147.428V59.6757V57.6757H145.428H109.626V12ZM107.626 57.6757V12V10H109.626H184.479H186.479V12V63.7297H201H203V65.7297V141.189V143.189H201H147.428V148V150H145.428H57.8093H55.8093V148V128.811H12H10V126.811V48.3243V46.3243H12H89.856H91.856V48.3243V57.6757H107.626ZM184.479 65.7297H147.428V87.4595H184.479V65.7297ZM147.428 89.4595H184.479H186.479V87.4595V65.7297H201V141.189H147.428V89.4595ZM145.428 87.4595V65.7297H126.148V87.4595H145.428ZM126.148 89.4595H145.428V141.189H126.148V89.4595ZM124.148 89.4595V141.189V143.189H126.148H145.428V148H57.8093V128.811H89.856H91.856V126.811V59.6757H107.626V87.4595V89.4595H109.626H124.148ZM124.148 87.4595H109.626V59.6757H145.428V63.7297H126.148H124.148V65.7297V87.4595ZM12 48.3243H89.856V57.6757H57.8093H55.8093V59.6757V126.811H12V48.3243ZM89.856 59.6757V126.811H57.8093V59.6757H89.856Z"
                fill="#F7F0FF"
              />
            </svg>
          </a>
          <p class="footerDenis" id="footerDenis" data-i18n="onlyMyName">
            Denis
          </p>
          <p class="footerEmail">
            <a
              target="_blank"
              href="mailto:dkovalevskiy02@gmail.com"
              class="myEmail"
              >dkovalevskiy02@gmail.com</a
            >
          </p>

          <ul class="footerList">
            <li class="footerItems">
              <p class="textInLi" id="otherWays" data-i18n="waysToContact"></p>
            </li>
            <li class="footerItems">
              <ul class="listInFooterList">
                <li class="itemsInList">
                  <a
                    target="_blank"
                    href="https://www.linkedin.com/in/valentin-neelov-a515962b1/"
                    ><svg class="svgFooterContact" width="48" height="48">
                      <use href="/sprite.svg#icon-gmail"></use></svg
                  ></a>
                </li>
                <li class="itemsInList">
                  <a
                    target="_blank"
                    href="https://www.instagram.com/valinok_322?igsh=dmc3ZndtZ3NpeHBu"
                    ><svg class="svgFooterContact" width="48" height="48">
                      <use href="/sprite.svg#icon-git"></use></svg
                  ></a>
                </li>
                <li class="itemsInList">
                  <a target="_blank" href="https://t.me/Dealpha1"
                    ><svg class="svgFooterContact" width="48" height="48">
                      <use href="/sprite.svg#icon-tg"></use></svg
                  ></a>
                </li>
                <li class="itemsInList">
                  <a
                    target="_blank"
                    href="https://www.linkedin.com/in/denis-kovalevskiy-820a042b1/"
                    ><svg class="svgFooterContact" width="48" height="48">
                      <use href="/sprite.svg#icon-linkedin"></use></svg
                  ></a>
                </li>
              </ul>
            </li>
          </ul>
          <nav class="footerNav">
            <p class="textNavigation" id="footerNav" data-i18n="navigation"></p>
            <ul class="navList">
              <li class="navItems">
                <a id="footerHome" data-i18n="general" href="#header"></a>
              </li>
              <li class="navItems">
                <a
                  id="footerAboutMe"
                  data-i18n="about"
                  href="#secondSection"
                ></a>
              </li>
              <li class="navItems">
                <a
                  id="footerAboutMe"
                  data-i18n="education"
                  href="#thirdSection"
                ></a>
              </li>
              <li class="navItems">
                <a
                  id="footerSkills"
                  data-i18n="skills"
                  href="#fourthSection"
                ></a>
              </li>
              <li class="navItems">
                <a
                  id="footerProject"
                  data-i18n="projects"
                  href="#fifthSection"
                ></a>
              </li>
              <li class="navItems">
                <a
                  id="footerContact"
                  data-i18n="contact"
                  href="#sixthSection"
                ></a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="textWrapper">
          <p class="lowerText" id="cooperate" data-i18n="beGladToCooperate"></p>
        </div>
      </div>
    </footer>