      <section id="fourthSection">
        <div class="container">
          <div class="wrapperForSkills">
            <h4 class="fourthSection-title">Skills</h4>
            <p class="nameOfSkills">Team lead</p>

            <div class="wrapperForFirstRaw">
              <p class="nameOfSkills2">SCSS</p>
              <p class="nameOfSkills3">CSS</p>
            </div>

            <div class="wrapperForSecondRaw">
              <p class="nameOfSkills14">GTD</p>
              <p class="nameOfSkills15">Responsive design</p>
              <p class="nameOfSkills16">OOP</p>
            </div>

            <div class="wrapperForThirdRaw">
              <p class="nameOfSkills8">React</p>
              <p class="nameOfSkills9">Node.JS</p>
              <p class="nameOfSkills10">HTML5</p>
              <p class="nameOfSkills13">Java script</p>
            </div>

            <div class="wrapperForFourthRaw">
              <p class="nameOfSkills4">Webpack</p>
              <p class="nameOfSkills5">Visual studio code</p>
              <p class="nameOfSkills7">GIT</p>
            </div>

            <div class="wrapperForFifthRaw">
              <p class="nameOfSkills11">English - B1</p>
              <p class="nameOfSkills12">Agile</p>
            </div>
            <p class="lastSkills">Scrum</p>
          </div>
        </div>
      </section>