 <header id="header">
      <div class="container headerWrapper">
        <a class="headerLink" href="/index.html">
          <svg
            width="210"
            height="150"
            viewBox="0 0 213 160"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M109.626 12H184.479V63.7297H147.428V59.6757V57.6757H145.428H109.626V12ZM107.626 57.6757V12V10H109.626H184.479H186.479V12V63.7297H201H203V65.7297V141.189V143.189H201H147.428V148V150H145.428H57.8093H55.8093V148V128.811H12H10V126.811V48.3243V46.3243H12H89.856H91.856V48.3243V57.6757H107.626ZM184.479 65.7297H147.428V87.4595H184.479V65.7297ZM147.428 89.4595H184.479H186.479V87.4595V65.7297H201V141.189H147.428V89.4595ZM145.428 87.4595V65.7297H126.148V87.4595H145.428ZM126.148 89.4595H145.428V141.189H126.148V89.4595ZM124.148 89.4595V141.189V143.189H126.148H145.428V148H57.8093V128.811H89.856H91.856V126.811V59.6757H107.626V87.4595V89.4595H109.626H124.148ZM124.148 87.4595H109.626V59.6757H145.428V63.7297H126.148H124.148V65.7297V87.4595ZM12 48.3243H89.856V57.6757H57.8093H55.8093V59.6757V126.811H12V48.3243ZM89.856 59.6757V126.811H57.8093V59.6757H89.856Z"
              fill="#F7F0FF"
            />
          </svg>
        </a>
        <nav class="headerNavigation">
          <ul class="headerList">
            <li class="headerItems">
              <a href="#secondSection" data-i18n="about" class="linkHeader"
                >About me</a
              >
            </li>
            <li class="headerItems">
              <a href="#thirdSection" data-i18n="education" class="linkHeader"
                >Education</a
              >
            </li>
            <li class="headerItems">
              <a href="#fourthSection" data-i18n="skills" class="linkHeader"
                >Skills</a
              >
            </li>
            <li class="headerItems">
              <a href="#fifthSection" data-i18n="projects" class="linkHeader"
                >Projects</a
              >
            </li>
            <li class="headerItems">
              <a href="#sixthSection" data-i18n="contact" class="linkHeader"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
        <div class="headerBtnWrapper">
          <button id="languageSwitcher" class="btnSwitcher" type="button">
            EN
          </button>
          <a class="resumeLinkDownload" download href="">
            <button
              class="btnDownload"
              data-i18n="resume"
              id="resume"
              type="button"
            >
              Resume
            </button>
          </a>
        </div>
      </div>
    </header>