      <section id="secondSection">
        <div class="container secondSection">
          <div class="wrapperForSecondSection">
            <h2 class="aboutMe" data-i18n="about">About me</h2>
            <p class="dscrMe" data-i18n="myDscr">
              I am a full-stack developer with experience in the banking
              industry. My background helped me develop essential soft skills,
              which I now apply in the IT field. I have been self-learning IT
              through courses and personal curiosity. During my learning
              journey, I successfully completed more than 8 pet projects,
              focusing on [specific technologies or areas]. Additionally, I led
              a team project related to the completion of an HTML+CSS course
            </p>
            <h3 class="workExp" data-i18n="workExp">Work experience</h3>
            <ul class="workList">
              <li class="workItems">
                <a
                  class="linkPrivatBank"
                  data-i18n="privatBank"
                  href="https://privatbank.ua/"
                  target="_blank"
                ></a>
                <p class="workTime" data-i18n="workTime"></p>
              </li>
              <li class="workItems" data-i18n="firstExp">
                Experienced in working with international clients
              </li>
              <li class="workItems" data-i18n="secondExp">
                Analyzed customer needs and provided personalized service
              </li>
              <li class="workItems" data-i18n="thirdExp">
                Quickly adapted to changes in workflows and banking products.
              </li>
              <li class="workItems" data-i18n="fourthExp">
                Met regulatory performance targets within set deadlines
              </li>
              <li class="workItems" data-i18n="fifthExp">
                Complied with financial monitoring, risk management, anti-money
                laundering, counter terrorism financing, and prevention of
                weapons of mass destruction proliferation regulations
              </li>
            </ul>
          </div>
          <img
            class="secondBodyImg"
            src="/src/img/secondBody.png"
            alt="secondBody"
          />
        </div>
      </section>