      <section id="secondSection">
        <div class="container secondSection">
          <div class="wrapperForSecondSection">
            <h2 class="aboutMe" data-i18n="about">About me</h2>
            <p class="dscrMe" data-i18n="myDscr">
            </p>
            <h3 class="workExp" data-i18n="workExp"></h3>
            <ul class="workList">
              <li class="workItems">
                <a
                  class="linkPrivatBank"
                  data-i18n="privatBank"
                  href="https://privatbank.ua/"
                  target="_blank"
                ></a>
                <p class="workTime" data-i18n="workTime"></p>
              </li>
              <li class="workItems" data-i18n="firstExp">
              </li>
              <li class="workItems" data-i18n="secondExp">
              </li>
              <li class="workItems" data-i18n="thirdExp">
              </li>
            </ul>
          </div>
          <img
            class="secondBodyImg"
            src="./img/secondBody.png"
            alt="secondBody"
          />
        </div>
      </section>