 <section id="sixthSection">
        <div class="container">
          <h6 class="sixthSection-title" data-i18n="contactMe"></h6>
          <div class="wrapper-for-contact">
            <div class="text-to-contact">
              <p class="writeMe" data-i18n="writeMe">Write me</p>
              <p class="dscrText" data-i18n="requirements"></p>
              <a
                class="linkContact"
                href="https://t.me/Dealpha1"
                target="_blank"
                ><svg class="tgSvg" width="64" height="64">
                  <use href="./img/sprite.svg#icon-tg"></use></svg
                >@Dealpha1</a
              >
              <a
                class="linkContact"
                href="https://mail.google.com/mail/u/0/#inbox?compose=new"
                target="_blank"
                ><svg class="tgSvg" width="64" height="64">
                  <use href="./img/sprite.svg#icon-gmail"></use></svg
                >dkovalevskiy02@gmail.com</a
              >
            </div>
            <form class="contactForm" id="contactForm">
              <label class="label" for="name"></label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Enter your name"
                data-i18n="name"
                required
              />
              <label class="label" for="email"></label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter your email"
                data-i18n="email"
                required
              />
              <label class="label" for="title"></label>
              <input
                type="text"
                id="title"
                name="title"
                placeholder="Enter title"
                data-i18n="title"
              />
              <label class="label" for="message"></label>
              <input
                type="text"
                id="message"
                name="message"
                placeholder="Enter your message"
                data-i18n="message"
                required
              />
              <button class="btnSubmit" id="sendMessageBtn" type="submit">
                <span class="btnSubmitSpan" id="btnSubmit" data-i18n="submit"
                  >Submit</span
                >
              </button>
            </form>
          </div>
        </div>
      </section>