      <section id="thirdSection">
        <div class="container thirdSection-wrapper">
          <h3 class="thirdSection-title" data-i18n="education"></h3>
          <div class="wrapperForEducations">
            <p class="nameOfKnowledgePlace" data-i18n="college"></p>
            <div class="wrapperForList">
              <ul class="thirdSection-list">
                <li class="thirdSection-items" data-i18n="nameOfCollege"></li>
                <li
                  class="thirdSection-items Specialty"
                  data-i18n="specialty"
                ></li>
                <li class="thirdSection-items">
                  <p class="majorText" data-i18n="firstMajor"></p>
                </li>
                <li class="thirdSection-items">
                  <p class="majorText" data-i18n="secondMajor"></p>
                </li>
              </ul>
            </div>
            <p class="educationYears">2017-2021</p>
          </div>

          <div class="wrapperForEducations glowEffect">
            <p
              class="nameOfKnowledgePlace universityName"
              data-i18n="university"
            ></p>
            <div class="wrapperForList">
              <ul class="thirdSection-list university">
                <li class="thirdSection-items">
                  <a href="" target="_blank" data-i18n="nameOfUniversity"></a>
                </li>
                <li class="thirdSection-items" data-i18n="specialty"></li>
                <li class="thirdSection-items">
                  <p class="majorText" data-i18n="bachelor"></p>
                </li>
                <li class="thirdSection-items">
                  <p class="majorText" data-i18n="master"></p>
                </li>
              </ul>
            </div>
            <p class="educationYears" data-i18n="dataNowadays">2021-present</p>
          </div>

          <div class="wrapperForEducations">
            <p class="nameOfKnowledgePlace coursesName" data-i18n="courses"></p>
            <div class="wrapperForList">
              <ul class="thirdSection-list courses">
                <li class="thirdSection-items">
                  <a href="" data-i18n="goIT" target="_blank"></a>
                </li>
                <li
                  class="thirdSection-items Specialty"
                  data-i18n="specialty"
                ></li>
                <li class="thirdSection-items">
                  <p class="majorText" data-i18n="fullStack"></p>
                </li>
              </ul>
            </div>
            <p class="educationYears" data-i18n="dataNowadaysCourse">
              2021-present
            </p>
          </div>
        </div>
      </section>