.fifthSection-title {
    font-weight: 400;
font-size: 80px;
text-align: center;
color: var(--white-color);
margin-bottom: 64px;
}
.Projects {
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.imgLink-fifthSection {
    margin-right: 120px;
}
.firstProject {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.reverse {
    display: flex;
    flex-direction: row-reverse;
    gap:120px;
}
.wrapperForText-fifthSection {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 800px;
    justify-content: center;

}
.siteTitle {
    font-weight: 700;
font-size: 64px;
color: var(--white-color);
}
.imgReverse {
    display: flex;
    margin-left: auto;
}
.siteDscr {
    font-weight: 400;
font-size: 40px;
color: var(--white-color);
}
.secondProject {
    font-size: 40px;
}
.linkReverse {
    margin-right: 0;
    margin-left: 60px;
          box-shadow: -400px -2300px 500px rgba(169, 98, 255, 0.2);
}