.firstSection-wrapper {
    display: flex;
    flex-direction: row;
}
.wrapperForText {
display: flex;
flex-direction: column;
max-width: 800px;
justify-content: center;
filter: drop-shadow(50px 0 100px rgb(116, 28, 116));
}
.myName {
    font-weight: 400;
font-size: 80px;
color: #ffffff;
margin-bottom: 24px;
}
.btnWriteMe {
    font-weight: 400;
font-size: 32px;
padding: 24px 60px;
border-radius: 24px;
background: linear-gradient(90deg, #490553 0%, #630e70 15.5%, #7e178d 31.5%, #c146d4 58%, #5792ff 99.5%);
margin-right: 30px;
  background-size: 300% 100%;
 transition: 250ms ease-in;
}

.btnWriteMe:focus,.btnWriteMe:active {
     background: linear-gradient(90deg, #5792ff 0%, #c146d4 37.92%, #7e178d 62.31%, #630e70 82.32%, #490553 99.5%);
}

.btnWriteMe:hover {
         background: #1d1662;
    background-size: 300% 100%; 
    background-position: 100% 0;
}

.readMoreLink {
        font-weight: 400;
font-size: 32px;
padding: 22px 30px;
border: 1px solid #ffffff;
border-radius: 24px;
transition: 250ms ease-in;
}
.readMoreLink:hover {
background: #1d1662;
}

.readMoreLink:focus,.btnWriteMe:active {
         background: #000000
}

.firstBodyPNG {
    position: relative;
        display: flex;
    margin-left: auto;
    padding-right: 100px;
filter: drop-shadow(0 0 55px #741c74);
}